.card-item{
    position: relative;
}

.card-status{
    position:absolute;
    top:5px;
    right:5px;
    font-weight: 600;
}
.text-green{
    color:rgb(93, 224, 93);
    /* background: rgb(156, 227, 156); */
    font-weight: 600;
    border-radius: 8px;
}